.documents-folder {
  &.hidden {
    display: none !important;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(10, 10, 20, 0.9);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  perspective: 2000px;
  color: #1E1E1E;
  
  * {
    box-sizing: border-box; 
  }

  .folder-wrapper {
    position: relative;
    width: 480px;
    height: 600px;
    background-image: url(/public/images/folder.svg);
    background-size: 100%; 
    background-position: left top;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    will-change: width;
  }

  .page {
    position: absolute;
    top: 0;
    width: 380px;
    height: 580px;
    padding: 40px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    backface-visibility: hidden;
    margin: 10px;
  }

  .page-left {
    right: 480px;
    opacity: 0; 
    background-image: url(/public/images/left-paper-bg.svg);
    background-size:cover;
  }

  .page-right {
    right: 70px;
    transform-origin: left center; 
    will-change: transform;
    background-image: url(/public/images/right-paper-bg.svg);
    background-size:cover;
  }

  .cover {
    position: absolute;
    bottom: 5;
    right: 0;
    width: 480px;
    height: 100%;
    background-image: url(/public/images/cover-folder.svg);
    background-size:cover;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFB;
    transform-origin: left center;
    backface-visibility: hidden;
    cursor: pointer;
    will-change: transform;
  }

  #next-page, #prev-page {
    position: absolute;
    bottom: 30px;
    padding: 10px 20px;
    background: #87898B;
    color: #FFFFFB;
    border: none;
    cursor: pointer;
    opacity: 0; 
    pointer-events: none;
  }

  #next-page { right: 30px; }
  #prev-page { left: 30px; }

  .folder-wrapper.is-open {
    #next-page, #prev-page {
      opacity: 1;
      pointer-events: auto;
    }
  }

.close-folder-btn {
    position: absolute;
    top: 10%;
    right: 30%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10000;
  }

    .close-folder-btn img{
    width: 30px;
    height: 30px;
    }

}