@use '../config' as *;

$transition-speed: 0.3s;

#menuDeroulant {
    position: fixed; 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boutonMenuDeroulant {
    padding: 8px;
    background-color: $white;
    border: solid 3px $dark;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: $font-family-texts;
    font-weight: bold;
    

    img {
    width: 20px;
    height: 20px;
    transition: transform $transition-speed ease;
    }
    &.active img {
        transform: rotate(180deg);
    }

}

#menuDeroulantContenue {
    background-color: $white;
    padding: 15px;
    gap: 10px;
    width: 100%;
    border: solid 2px $dark;
    border-radius: 8px;
    transition: $transition-speed ease;
    transform-origin: bottom;
    max-height: 0;
    overflow: hidden;
    transform: translateY(35px);
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    &.visible {
        max-height: 500px;
        transform: translateY(0);
        pointer-events: auto;
    }

    h2 {
        width: 100%;
        text-align: left;
        font-family: $font-family-headings;
        color: $dark;
    }

    button {
    border: none;
    background: transparent;
    color: $blue;
    text-decoration: underline;
    transition: all 0.2s;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
    }

    input[type="checkbox"] {
    cursor: pointer;      
    + label {
        color: $dark;
        cursor: pointer;
        font-family: $font-family-texts;
    }
    }
}
.menuDeroulantCheckbox {
    display: flex;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-family: $font-family-texts;
}

#ligneCheckbox {
    display: flex;
    gap: 15px;
}

#navbarInterne {
    display: flex;
    gap: 60px;
    font-family: $font-family-texts;
    font-weight:bold;
    color: $dark;
    align-items: center;
    padding: 20px;
    margin-left: 15px;
    margin-right: 30px;

    img {
        width: auto;
        height: 80px;
    }
}

#panierAchat {
    margin-left: auto;

    button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        border: none;
        background-color: $white; ;
        cursor: pointer;
        font-family: $font-family-texts;
        font-weight: bold;
        font-size: 15px;
    }

    img {
        width: auto;
        height: 24px;
    }

}