@use '../config' as *;

.title-section {
  display: flex;
  position: relative;
  height: 100vh;

  .main-title {
    display: flex;
    margin-inline: auto;
    margin-block: auto;
  }

  .hands-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    justify-content: space-between;
  }
}
