@use '../config' as *;

body{
    overflow-x: hidden;
}

.title-section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 100px;
  height: 100vh;
  justify-content: center;
  margin-top: 100px;

  .main-title {
    width: 50%;
    display: flex;
    margin-inline: auto;
  }

  .hands-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
  }

  .to-board {
    align-items: center;
    background: $yellow;
    border-radius: 10px;
    color: $dark-blue;
    display: flex;
    font-family: $font-family-texts;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    gap: 16px;
    justify-content: center;
    line-height: normal;
    margin-inline: auto;
    padding: 12px 24px;
    text-decoration: none;
    width: fit-content;
  }
}

/* Animation générique */
@keyframes floatY {
  from { transform: translateY(0); }
  to   { transform: translateY(-15px); }
}

@keyframes rotateSmall {
  from { transform: rotate(0deg); }
  to   { transform: rotate(7deg); }
}

@keyframes rotateTiny {
  from { transform: rotate(0deg); }
  to   { transform: rotate(3deg); }
}

@keyframes diagonal {
  from { transform: translate(0, 0); }
  to   { transform: translate(15px, -15px); }
}

/* Elements */

.test {
  animation: floatY 2s ease-in-out infinite alternate;
  animation-delay: 0s;
}

.test-2 {
  transform-origin: 20% 20%;
  animation: rotateSmall 3s ease-in-out infinite alternate;
  animation-delay: 0.5s;
}

.test-3 {
  animation: rotateTiny 2.5s ease-in-out infinite alternate;
  animation-delay: 1s;
}

.test-4 {
  animation: diagonal 3s ease-in-out infinite alternate;
  animation-delay: 1.5s;
}

.test-5 {
  animation: rotateTiny 2.8s ease-in-out infinite alternate;
  animation-delay: 2s;
}

.left-hand, .right-hand {
  will-change: transform;
}
