$yellow: #EACA40;
$light-yellow: #F8EFC8;
$blue: #0707D9;
$dark-blue: #03031F;

$white: #FFFFFB;
$dark: #1E1E1E;

$font-family-headings: 'montserrat', 'sans-serif';
$font-family-texts: 'montserrat', 'sans-serif';


.red {
  color: $blue;
}
